[submodule "resumaker-electron"]
	path = resumaker-electron
	url = https://github.com/darkmastermindz/resumaker-electron.git
[submodule "resumaker-ios"]
	path = resumaker-ios
	url = https://github.com/darkmastermindz/resumaker-ios.git
